@model List<Shipper>
<a asp-action=" Create" asp-controller="Shipper" class="btn btn-info"> Kargo firması Ekle</a>
<div class="row">
    <div class="col-6">
        <table>
            <thead>
                <tr>
                    
                    <th>Şirket Adı</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CompanyName/td>
                        <td>@item.Phone</td>
                        <td>
                            <a class="btn btn-block btn-info"
                           asp-controller="Shipper" asp-action="Detail" asp-route-id="@item.ShipperId">
                            Detay
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>